<select class="form-control coutrySelect" onchange="App.updateCountry(this);">
	<option value="AU">Australia</option>
	<option value="AT">Austria</option>
	<option value="BE">Belgium</option>
	<option value="CA" selected="selected">Canada</option>
	<option value="CZ">Czech Republic</option>
	<option value="DK">Denmark</option>
	<option value="FI">Finland</option>
	<option value="FR">France</option>
	<option value="DE">Germany</option>
	<option value="HU">Hungary</option>
	<option value="IE">Ireland</option>
	<option value="IT">Italy</option>
	<option value="LU">Luxembourg</option>
	<option value="NL">Netherlands</option>
	<option value="NZ">New Zealand</option>
	<option value="NO">Norway</option>
	<option value="PL">Poland</option>
	<option value="PT">Portugal</option>
	<option value="ES">Spain</option>
	<option value="SE">Sweden</option>
	<option value="CH">Switzerland</option>
	<option value="GB">United Kingdom</option>
	<option value="US">United States</option>
</select>

