<h1 class="fit"><small>My lists</small></h1>

<div class="mainlist" style="display: none;">
	<h3 style="border-bottom: 1px solid lightgray; padding-bottom: 5px;">
		<small>
			Welcome <span></span>!
			<div class="dropdown pull-right">
			  <i class="fa fa-cog dropdown-toggle accountGear" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></i>
			  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
			    <li class="disabled"><a href="#">Manage account</a></li>
			    <li><a href="javascript:void(0);" onclick="App.List.Logout()">Logout</a></li>
			  </ul>
			</div>
		</small>
	</h3>

	<div class="pull-right">
		<button class="btn btn-success btn-showCreate" onclick="App.List.UI_showCreateList()"><i class="fa fa-plus"></i> Create new list</button>
		<form action="javascript:void(0);" onsubmit="App.List.CreateList(this)" id="listCreateForm" style="display: none;" class="form-inline">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="List name" name="listName" value="" />
			</div>
			<a href="javascript:void(0);" class="btn btn-default" onclick="App.List.UI_hideCreateList(this)">Cancel</a>
			<input type="submit" class="btn btn-success" value="Create list">
		</form>
	</div>
	<br clear="all" /><br />

	<div class="listsPlaceholder"></div>
</div>

<div class="progressDiv">
	<i class="fa fa-spinner fa-spin fa-3x"></i>
</div>

<div class="panel panel-default panel-primary loginPanel" style="display: none;">
  <div class="panel-heading">Login</div>
  <div class="content">
	  <form action="javascript:void(0);" onsubmit="App.List.Login(this)">
	  <div class="form-group">
	    <label for="loginEmail">Email address</label>
	    <input type="email" class="form-control" id="loginEmail" name="email" placeholder="Email">
	  </div>
	  <div class="form-group">
	    <label for="loginPassword">Password</label>
	    <input type="password" class="form-control" id="loginPassword" name="password" placeholder="Password">
	  </div>
	  <div class="alert alert-success" role="alert" style="display: none;"><i class="fa fa-exclamation-circle"></i> <span></span></div>
	  <div class="alert alert-danger" role="alert" style="display: none;"><i class="fa fa-exclamation-circle"></i> <span></span></div>
	  <button type="button" class="btn btn-default btn-block" onclick="App.List.UI_ShowRegister()">Register</button>
	  <button type="submit" class="btn btn-primary btn-lg btn-block">Login</button>
	  </form>
  </div>
</div>

<div class="panel panel-default panel-primary registerPanel" style="display: none;">
  <div class="panel-heading">Register</div>
  <div class="content">
	  <form action="javascript:void(0);" onsubmit="App.List.Register(this)">
	  <div class="form-group">
	    <label for="registerName">Your name</label>
	    <input type="text" class="form-control" id="registerName" name="name" placeholder="Your name" maxlength="200">
	  </div>
	  <div class="form-group">
	    <label for="registerEmail">Email address</label>
	    <input type="email" class="form-control" id="registerEmail" name="email" placeholder="Email" maxlength="200">
	  </div>
	  <div class="form-group">
	    <label for="registerPassword">Password</label>
	    <input type="password" class="form-control" id="registerPassword" name="password1" placeholder="Password">
	  </div>
	  <div class="form-group">
	    <label for="registerPassword1">Confirm password</label>
	    <input type="password" class="form-control" id="registerPassword1" name="password2" placeholder="Confirm password">
	  </div>
	  <div class="alert alert-danger" role="alert" style="display: none;"><i class="fa fa-exclamation-circle"></i> <span></span></div>
	  <button type="button" class="btn btn-default btn-block" onclick="App.List.UI_ShowLogin()">Cancel</button>
	  <button type="submit" class="btn btn-primary btn-lg btn-block">Register</button>
	  </form>
  </div>
</div>

<div class="hidden" id="list_template">
	<a id="listElementTemplate" href="#">
		<div class="panel panel-default"><div class="panel-body">
			<table>
				<tr>
					<td nowrap="nowrap" style="padding-right: 5px;"><img class="media-object" src="" alt=""></td>
					<td width="100%">
						<h4></h4>
						<p class="createdOn">Created on: <span></span></p>
						<p class="nbPieces">Number of parts: <span></span></p>
					</td>
					<td nowrap="nowrap" class="icon"><button class="btn btn-danger btn-small"><i class="fa fa-trash"></i></button></td>
					<td nowrap="nowrap" class="icon"><i class="fa fa-chevron-right"></i></td>
				</tr>
			</table>
		</div></div>
	</a>
</div>