<div class="btn-group">
  <button type="button" class="btn btn-success" onclick="{{include.param}}(this)"><i class="fa fa-floppy-o"></i> Save to new list</button>
  <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu">

    <li role="separator" class="divider"></li>
    <li><a href="#">Create new list</a></li>
  </ul>
</div>