/**
 * Main table
 */

.ListTable td.asset {
	text-align: center;
}

.ListTable img {
	max-height: 50px;
}

.setCard img.setImg {
	max-height: 100px;
}

div.setCard {
	margin-bottom: 40px;
}

i.LEGO_PartNotFound, i.LEGO_PartColorNotFound, i.LEGO_PartNotAvailable {
	font-size: 18px;
}

i.LEGO_PartNotFound { color: red; }
i.LEGO_PartColorNotFound { color: orange; }
i.LEGO_PartNotAvailable { color: black; }

.templateTable_Totalrow > td {
	padding-right: 3px;
}

.bw-image {
	filter: gray; /* IE6-9 */
	filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
	-webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */

	opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}



.progressDiv {
	width: 100%;
	text-align: center;
	margin-top: 20px;
}


label > small {
	color: grey;
}

/*
 * My list
 */

.nav-app-list > .loginPanel,
.nav-app-list > .registerPanel {
	width: 70%;
	margin-left: 15%;
}

.nav-app-list > .loginPanel > .content,
.nav-app-list > .registerPanel > .content {
	padding: 25px;
}

.nav-app-list .accountGear {
	line-height: 27px;
	cursor: pointer;
}

.nav-app-list .open .accountGear {
	color: black;
}

/* List table */

.nav-app-list .listsPlaceholder img {
	max-width: 50px;
	max-height: 50px;
}

.nav-app-list .listsPlaceholder table td.icon {
	padding-left: 10px;
	padding-right: 10px;
}

.nav-app-list .listsPlaceholder h4 {
	margin-bottom: 5px;
	color: black;
	text-decoration: none;
}
.nav-app-list .listsPlaceholder p {
	margin: 0px;
	font-size: 85%;
	color: lightgrey;
	text-decoration: none;
}

.nav-app-list .listsPlaceholder .panel {
	margin-bottom: 10px;
}
.nav-app-list .listsPlaceholder .panel-body {
	padding: 10px;
}


.listAdd {
    margin-top: 10px;
}